<!--
  DEPLOY with now.sh
-->
<h1>Password Generator</h1>

<div>
  <label>Enter Lenght</label>
  <input  (input)="onChangeLength($event)" type="text" name="length" id="p-length" placeholder="Enter Length" >
</div>

<!--TRACKING INPUTE STATE-->
<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" name="letters" id="">
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" name="numbers" id="">
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" name="symbols" id="">
</div>

<!-- EVENT BINDING
  Inside the () we watch put the name of the event we watch for 
  ="onButtonClick() " inside double quotes we put what to when that event takes place
  inside double quotes whatever we put gets EVALUATD AS CODE
-->
<button [disabled]="!(length && (isUseLetters|| isUseNumbers|| isUseSymbols ))" (click)="onButtonClick()">Generator</button>

<!--STRUCTURAL DIRECTIVES-->
<!--
  ADD or REMOVES HTML elements
  *ngIf is a structural directive
-->
<div *ngIf="password">
  <label>Your Password</label>

  <!-- PROPERTY BINDING SYNTAX
  Inside the [] we watch put the name of the PROPERTY we watch for 
  ="password " inside double quotes we put the name of the property we declared in class
  inside double quotes whatever we put gets EVALUATD AS CODE
-->
  <input type="text" name="" id="" [value]="password" readonly>

  <!--//Interpolation Syntax - to just show the value or call methods from component class}}
  {{password}}-->

</div>